.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html
application/config/*

!application/*/.htaccess
.claude
.cursor/*
database.sql
data.sql
fe.zip
fe/node_modules/*
fe/.next/*   
node_modules/*
uploads/*
fe/.env
fe/.env.local
fe/.env.development
fe/.env.production
fe/.env.test.local
backend.zip
assets/
system/
system/*
!system/.htaccess
fe_temp
fe_temp/node_modules/*
fe_temp/.next/*
fe_temp/.env.local
fe_temp/*
composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
